[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetricsWeighted"]
	path = MetricsWeighted
	url = https://github.com/mayer79/metricsweighted
[submodule "confintr"]
	path = confintr
	url = https://github.com/mayer79/confintr
[submodule "effectplots"]
	path = effectplots
	url = https://github.com/mayer79/effectplots
[submodule "flashlight"]
	path = flashlight
	url = https://github.com/mayer79/flashlight
[submodule "missRanger"]
	path = missRanger
	url = https://github.com/mayer79/missranger
[submodule "outForest"]
	path = outForest
	url = https://github.com/mayer79/outforest
[submodule "splitTools"]
	path = splitTools
	url = https://github.com/mayer79/splittools
